mixin alerts()
    if error && error.length > 0 
        .alert.alert-warning.alert-dismissible.animated.fadeInDown.animation-delay-200(role='alert')
            strong Oops!
            |  #{error}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') ×
    if success && success.length > 0
        .alert.alert-success.alert-dismissible.animated.fadeInDown.animation-delay-200(role='alert')
            strong Success!
            |  #{success}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') ×