/* @import "roboto/roboto/roboto-fontface.css"; */

:root {
  --main-form-color: #fff;
  --background-color: #f1f3f4;
  --nav-section-color: #24344b;
  --nav-panel-color: #2b3c58;
  --content-section-color: #f2f2f3;
  --nav-hover-color: #324983;
  --btn-purple-color: #7333d2;
  --btn-blue-color: #80a0f2;
  --btn-visited-text: #fff;
  --text-color-light: #fff;
  --text-color-grey: #9fbeeb;
  --btn-blue-active: #2b54d0;
  --btn-purple-active: #6430be;
  --dot-color: #00ff08;
  --viewport-height: 100vh;
}

.color-primary {
  color: #7333d2;
}

.btn-red,
.btn-red:visited {
  color: grey;
  transform: translateY(20%);
  transition: 0.2s ease-in-out;
}

.btn-red:active,
.btn-red .active,
.btn-red:hover {
  color: #d23368;
}

.animation-delay-100 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.animation-delay-200 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

body {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: var(--viewport-height);
  z-index: 1;
  color: #24344b;
}

.section {
  padding: 2rem;
  background-color: var(--background-color);
}

.section__bottom {
  padding: 1rem;
  width: 100%;
  position: absolute;
  bottom: 1rem;
  right: 0;
}

/* Navigation */

.sidebar-logo {
  height: 8vh;
  padding: 2rem;
  color: var(--text-color-light);
  background-color: var(--nav-panel-color);
}

.sidebar-logo img {
  height: 2.5rem;
  width: auto;
}

.alert {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  /* background: #fde073;*/
  text-align: center;
  line-height: 2;
  overflow: hidden;
  /* -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black; */
}
/* 
.sidebar-navigation {
  padding: 0;
  margin: 0;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
  color: var(--text-color);
}

.nav_panel {
  background-color: var(--nav-panel-color);
} */

.nav_panel li a {
  padding: 20px 25px 20px 30px;
  display: block;
  color: var(--text-color-grey);
  text-decoration: none;
  outline: none;
  transition: 0.2s ease-in-out;
}

.nav_panel ion-icon {
  color: inherit;
}

.nav_panel li a:hover,
.nav_panel li a:active,
.nav_panel li a.active,
.nav_panel li a:focus {
  color: var(--text-color-light);
  background-color: var(--nav-hover-color);
}

.sidebar-navigation .header {
  color: var(--text-color-light);
  padding: 20px 25px 20px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

/* Sections */

.nav_section {
  background-color: var(--nav-section-color);
  height: var(--viewport-height);
  padding: 0;
  /* position: fixed; */
}

.login_section,
.content_section {
  background-color: var(--content-section-color);
  height: var(--viewport-height);
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.product_content {
  margin-top: 5rem;
}

#productList{
  height: 60vh;
  overflow: auto;
}

.product {
  border-left: 5px solid lightgrey;
  transition: 0.2s ease-out;
}

.product:hover {
  border-left: 5px solid var(--btn-purple-color);
}

.list-container {
  overflow-y: auto;
}

.state-container {
  position: absolute;
  bottom: 4rem;
  width: 100%;
  text-align: center;
}

.form_section {
  margin-top: 2.5rem;
  background-color: var(--main-form-color);
  box-shadow: 0 12px 15px 0 rgba(80, 80, 80, 0.24),
    0 10px 30px 0 rgba(80, 80, 80, 0.24);
}

/* Buttons */

.product:hover {
  border-left: 5px solid var(--btn-purple-color);
}

.btn {
  border-radius: 0;
}

.btnPurple,
.btnPurple:visited {
  color: var(--btn-visited-text);
  background-color: var(--btn-purple-color);
}

.btnPurple:hover,
.btnPurple:active {
  color: var(--text-color-light);
  background-color: var(--btn-purple-active);
}

.btnPurple-outline,
.btnPurple-outline:visited{
  border: .2rem solid var(--btn-purple-color); 
  color: var(--text-color-light);
  border-radius: .5rem;
}

.btnPurple-outline:hover,
.btnPurple-outline:active{
  background-color: var(--btn-purple-active);
  border-color: var(--btn-purple-active);
  color: var(--text-color-light);
}

.btnBlue,
.btnBlue:visited {
  color: var(--btn-visited-text);
  background-color: var(--btn-blue-color);
  font-weight: 400;
}

.btnBlue-outline,
.btnBlue-outline:visited{
  border: .2rem solid var(--btn-blue-color); 
  color: var(--text-color-light);
  border-radius: .5rem;
}

.btnBlue-outline:hover,
.btnBlue-outline:active{
  background-color: var(--btn-blue-active);
  border-color: var(--btn-blue-active);
  color: var(--text-color-light);
}

.btnBlue:hover,
.btnBlue:active {
  color: var(--btn-visited-text);
  background-color: var(--btn-blue-active);
}

.btnBlue:not(:disabled):not(.disabled).active,
.btnBlue:not(:disabled):not(.disabled):active,
.show > .btnBlue.dropdown-toggle {
  color: var(--btn-visited-text);
  background-color: var(--btn-blue-active);
}

.btnPurple:focus,
.btnBlue:focus,
.btn-dark:focus,
.state:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.state,
.state:focus,
.state:hover,
.state:active {
  color: var(--text-color-light);
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

#btn-order{
  border-radius: .3rem;
  padding: 1rem;
}

#btn-error{
  padding: 1rem 2rem;
}

#btn-error:hover,
#btn-error:active{
  font-weight: 500;
  transform: translate3d(0rem,-.2rem,-.2rem);
  transition: .3s ease-in-out;
}

/* Dot */

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-35%);
}

/* Search */

#prodSearchForm {
  width: 100%;
  position: relative;
  border-bottom: .1rem solid var(--btn-purple-color);
}

#search-div{
  text-align: center;
  border: 1rem solid var(--text-color-light);
}

#search-icon{
  position: absolute;
  top: .3rem;
  right: 0;
  font-size: 1.8rem;
  padding: 0rem .5rem;
  height: 100%;
}

#prodSearch{
  height: 4.6vh;
}

#prodSearch:focus{
  box-shadow: none;
  z-index: 0;
}

.searchTerm {
  border: 0;
  border-radius: 0;
  font-size: 1.8rem;
  font-weight: 300;
}

/* Text */

.state-container ul {
  color: var(--text-color-grey);
}

.login .h2,
.img-cont h1 {
  color: var(--text-color-light);
  text-align: center;
  margin-bottom: 2rem;
}

.img-cont > h1 {
  transform: translateY(40vh);
}

/* Login */

.login {
  /* position: absolute; */
  margin-top: 25vh;
  background: url("../img/thermometer-pills-min.jpeg");
  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 12px 15px 0 rgba(80, 80, 80, 0.24),
    0 10px 30px 0 rgba(80, 80, 80, 0.24);
}

.login:after {
  overflow: hidden;
}

.login-container {
  background: rgba(40, 57, 101, 0.9);
  padding: 5rem 3rem 3rem 3rem;
  height: 30rem;
}

.login input,
.login button {
  width: 100%;
  border: none;
  padding: 1rem;
  outline: 0;
}

.login input[type="email"],
.login input[type="password"] {
  background: rgba(255, 255, 255, 0.1);
  color: var(--text-color-light);
}

.login input::placeholder {
  color: var(--text-color-light);
}

.login button[type="submit"] {
  background: var(--btn-blue-color);
  border-color: transparent;
  color: var(--text-color-light);
  cursor: pointer;
}

.login button[type="submit"]:hover {
  background: var(--btn-blue-active);
}

.img-cont {
  height: 100vh;
  width: auto;
  background: url("../img/hospital-beds-min.jpeg");
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.img-cont:before {
  content: "";
  position: absolute;
  background: rgba(40, 57, 101, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
}

.login-content {
  position: relative;
}

.no-padding {
  padding: 0;
}
.order__part--title {
  letter-spacing: 0.2rem;
  color: lightslategrey;
}

/* #order-list{
  display: flex;
  justify-content: space-between;
} */

#listHeader {
  border-radius: 0;
  background-color: var(--btn-purple-color);
  color: var(--text-color-light);
}


/* CARD TEXT */

.checkoutCard h1 {
  color: var(--text-color-light);
  text-align: center;
  /* letter-spacing: 0.1rem; */
  font-weight: 400;
}

.checkoutCard h3,
.checkoutCard h5 {
  color: var(--text-color-light);
  font-weight: 400;
}

/* .checkoutCard h3>span {
  font-weight: 700;
} */

/* CARD */

#orderCard{
  box-shadow: 0 12px 15px 0 rgba(80, 80, 80, 0.24),
    0 10px 30px 0 rgba(80, 80, 80, 0.24);
}

.checkoutCard {
  background: linear-gradient(180deg, var(--nav-hover-color), var(--btn-purple-active));
  margin-top: 1rem;
  border-radius: .3rem;
  padding: 1rem 1.5rem;
  text-align: center;
  box-shadow: 0 12px 15px 0 rgba(80, 80, 80, 0.24),
    0 10px 30px 0 rgba(80, 80, 80, 0.24);
}

/* FORM */

.checkoutCard .input-group {
  position: relative;
}

#select-patient{
  appearance: none;
  position: relative;
  border: 0;
  border-bottom: 2px solid var(--btn-blue-color);
  background-color: transparent;
  border-radius: .5rem;
  color: var(--text-color-light);
  text-align-last: center;
  background: url(../img/drop-down-arrow.svg) center no-repeat;
  background-position-x: 15rem;
}

.checkoutCard .input-group ::-webkit-input-placeholder {
  position: absolute;
  color: var(--text-color-grey);
  font-size: 1.2rem;
  transform: translateX(15%);
}

#select-patient:hover, 
#select-patient:focus {
  box-shadow: none;
  outline: none;
  border-width: 3px;
  border-color: var(--btn-blue-active);
  transition: all 0.2s ease-in-out;
}

#select-patient option {
  color: var(--nav-section-color);
}


/* #cardLine{
  background-color: var(--text-color-grey);
  width: 60%;
  margin-top: -.3rem;
} */
/* 
#select-patient:hover{
  background-color: transparent;
  outline: none;
  border: 0;
  color: var(--text-color-light);
  transition: .3s ease-in-out;
}

#select-patient option{
  color: var(--nav-hover-color);
} */

/* 404 PAGE */

#error-container{
  background: linear-gradient(180deg, var(--nav-hover-color), var(--btn-purple-active));
  margin: 0;
  padding: 0;
  height: var(--viewport-height);
  width: 100%;
}

.text-wrapper{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1{
  font-size: 10rem;
  font-weight: 700;
  color:  var(--text-color-grey);
}

.subtitle{
  font-size: 3rem;
  font-weight: 500;
  color: var(--text-color-light);
}

#btn-error i{
  color: var(--text-color-light);
  font-size: 1.4rem;
}

.number{
  position: relative;
  top: calc(50% - 60%);
  text-shadow: 0rem 0rem .3rem var(--text-color-grey);
}

.number:nth-child(1){
  animation: fade 4s infinite 200ms;
}

.number:nth-child(2){
  animation: fade 4s infinite 400ms;
}

.number:nth-child(3){
  animation: fade 4s infinite 600ms;
}

@keyframes fade{
  50% {
    opacity: 0.02;
  }
}