body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: darkslategray;
  letter-spacing: .02rem;
}

.no-margin {
  margin: 0;
}

.section {
  padding: 2rem;
  height: 100vh;
  background-color: #F1F3F4;
}

.section__bottom {
  padding: 1rem;
  width: 100%;
  position: absolute;
  bottom: 1rem;
  right: 0;
}

.product {
  border-left: 5px solid lightgrey;
  transition: .2s ease-out;
}

.product:hover {
  border-left: 5px solid #FF4081;
}

.btn {
  border-radius: 0;
}

.order__part--title {
  letter-spacing: .2rem;
  color: lightslategrey;
}
