extends ../layouts/main

append head
	title #{title} | CM

block content
	.container-fluid#error-container
		.text-wrapper
			.title(data-content= `${status}`)
				h1 
					each key in statusSplit
						span.number #{key}
			.subtitle
				p #{message}
			.btn-redirect
				a.btn.btnPurple-outline.btn-lg#btn-error(href="/products")
					i.mr-2(class='icon ion-ios-arrow-back') 
					| Take Me Back