extends ../layouts/main
include ../mixins/sidebar
include ../mixins/alerts

append head
    title Register User | CM
block content
    .container-fluid
        .row
            +sidebar
            .container-fluid.content_section.col-10
                .row
                    +alerts
                    .col-md-3
                    .col-md-6
                        .section.form_section.clearfix
                            form.login-form(role='form' action='/users' method='post')
                                h1.display-4.mb-4 New User
                                .form-group
                                    label.sr-only(for='username') Name
                                    input#username.form-control.form-username(type='text' name='username' required='' placeholder='Name')
                                .form-group
                                    label.sr-only(for='email') Email
                                    input#email.form-control.form-username(type='email' name='email' required='' placeholder='Email')
                                .form-group
                                    label.sr-only(for='password') Password
                                    input#password.form-control.form-username(type='password' name='password' ng-model='user.password' required='' placeholder='Password')
                                .form-group
                                    label.sr-only(for='password') Pin
                                    input.form-control.form-username(type='password' name='pin' ng-model='user.pin' maxlength="4" required='' placeholder='Pin')
                                .form-group
                                    label.text-dark(for="role") Role:
                                    br
                                    .btn-group.btn-group-toggle#role(data-toggle ='buttons')
                                        label.btn.btnBlue.btn-sm.active Regular
                                            input#regular(type="radio", name="role", autocomplete="off" checked='' value=2)
                                        label.btn.btnBlue.btn-sm Dispenser
                                            input#dispenser(type="radio", name="role", autocomplete="off", value=1)
                                        label.btn.btnBlue.btn-sm Admin
                                            input#admin(type="radio", name="role", autocomplete="off", value=0)                           
                                button.btn.btnPurple.btn-lg.float-right(type='submit') Register
                    .col-md-3
