doctype html
head
  block head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    <link rel="icon" type="image/png" href='/assets/resources/img/favicon-32x32.png' sizes="32x32" />
    <link rel="icon" type="image/png" href='/assets/resources/img/favicon-16x16.png' sizes="16x16" />
    link(rel='stylesheet' href='/assets/vendors/css/animate.css')
    link(rel='stylesheet' href='/assets/vendors/css/ionicons.min.css')
    link(rel='stylesheet' href='/roboto/css/roboto/roboto-fontface.css')
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/assets/resources/css/style.css')


body
  block content
  
script(src='/assets/vendors/js/jquery-3.3.1.min.js')
script(src='/assets/resources/js/alert-fade.js')
script(src='/assets/resources/js/dataForModal.js')
script(src='/bootstrap/js/bootstrap.bundle.min.js')


