extends layouts/main 
include mixins/alerts

block content
	.container-fluid#error-container
		.text-wrapper
			.title(data-content="404")
				h1 
					span.number 4
					span.number 0
					span.number 4
			.subtitle
				p It seems you've lost your way.
			.btn-redirect
				a.btn.btnPurple-outline.btn-lg#btn-error(href="/products")
					i.mr-2(class='icon ion-ios-arrow-back') 
					| Take Me Back