extends layouts/main

append head
    title Register User | Cabinet Manager

block content
    // Top content
    .top-content
        .inner-bg
            .container
                .row
                    .col-sm-6.col-sm-offset-3.form-box
                        .form-top
                            .form-top-left
                                h1.display-3 Register user
                                p.text-muted Enter the name, email, password and role below
                                .form-top-right
                                i.fa.fa-key
                        .form-bottom
                            if (error.length > 0) 
                                .alert.alert-danger #{error}
                            if (success.length > 0)
                                .alert.alert-success #{success}
                            form.login-form(role='form' action='/users' method='post')
                                .form-group
                                    label.sr-only(for='username') Name
                                    input#username.form-control.form-username(type='text' name='username' required='' placeholder='Name')
                                .form-group
                                    label.sr-only(for='email') Email
                                    input#email.form-control.form-username(type='email' name='email' required='' placeholder='Email')
                                .form-group
                                    label.sr-only(for='password') Password
                                    input#password.form-control.form-username(type='password' name='password' ng-model='user.password' required='' placeholder='Password')
                                .form-group
                                    label.text-dark(for="role") Role:
                                    br
                                    .btn-group.btn-group-toggle#role(data-toggle ='buttons')
                                        label.btn.btn-info.btn-sm.active Regular
                                            input#regular(type="radio", name="role", autocomplete="off" checked='' value=2)
                                        label.btn.btn-info.btn-sm Dispenser
                                            input#dispenser(type="radio", name="role", autocomplete="off", value=1)
                                        label.btn.btn-info.btn-sm Admin
                                            input#admin(type="radio", name="role", autocomplete="off", value=0)                           
                                button.btn.btn-success.btn-lg.float-right(type='submit') Register

